/* Mobile first design (screen widths range: 360px - 414px)*/
/* ---------------------------------- */

:root {
  /* font family */
  /* font size */
  /* font weight */
  --bg-color: rgb(236, 234, 234);
  --sideContent-bg-color: rgb(210, 216, 210);
  --sideContent-secondary-bg-color: rgb(242, 242, 242);
  --sideContent-tertiary-bg-color: rgb(129, 155, 139);
}

* {
  /* clean slate */
  margin: 0;
  padding: 0;
  align-content: center;
  box-sizing: border-box;
}

body {

  header {
    i.fa-archway {
      font-size: 28px;
  
      &::after {
        content: "Hotel";
      }
    }

  }

  form {

    &#loginForm {
      i.fa-house {
        font-size: 35px;
        width: 100%;
      }
      h1.loginTitle {
        font-size: 1.4em;
        text-align: center;
        margin: 15px;
      }
      label {
        padding-top: 15px;
      }
      label, input {
        margin: 0 auto;
      }
      button {
        margin: 25px auto;
      }
      input, button {
        height: 30px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      label, input, button {
        display: block;
        max-width: 300px;
        width: 50%;
      }
    }
  }

  .intro {
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;

    padding: 10px;
    border-radius: 4%;
  }
}



/* Large phones */
@media (max-width: 767px) {
}

/* Tablets and up */
@media (min-width: 768px) {
}

/* Desktop and up */
@media (min-width: 1024px) {
}