/* Mobile first design (screen widths range: 360px - 414px)*/
/* ---------------------------------- */

:root {
  /* font family */
  /* font size */
  /* font weight */
  --primary-bg-color: white;
  --secondary-bg-color: rgb(129, 155, 139);
  --tertiary-bg-color: rgb(168, 214, 198);
  --form-bg-color: #ccc;
}

* {
  /* clean slate */
  margin: 0;
  padding: 0;
  align-content: center;
  box-sizing: border-box;
}

body {
  
  header {
    padding: 15px 10px;
    background-color: var(--secondary-bg-color);

    i.fa-archway {
      font-size: 28px;
      color: black;
  
      &::after {
        content: "Hotel";
      }
    }

    i.fa-bars {
      font-size: 25px;
      float: right;
      cursor: pointer;
    }

    ul.headerMenu {
      text-align: center;
      margin-top: 15px;  /* match with header padding */
      position: absolute;
      left: 0;
      width: 100%;
      background-color: rgba(255,255,255, 0.8);
    }
    ul.headerMenu > li {
      margin: 5px 0;
      padding: 5px 0;
      cursor: pointer;
    }

  }

  .mainContent {
    padding: 0 10px;
  }

  form {

    &#loginForm {
      margin-top: 30vh;

      i.fa-house {
        font-size: 35px;
        width: 100%;
      }
      h1.loginTitle {
        font-size: 1.4em;
        text-align: center;
        margin: 15px;
      }
      label {
        padding-top: 15px;
      }
      label, input {
        margin: 0 auto;
      }
      button {
        margin: 25px auto;
      }
      input, button {
        height: 30px;
        border-radius: 5px;
        border: 1px solid var(--form-bg-color);
      }
      label, input, button {
        display: block;
        max-width: 300px;
        width: 50%;
      }
    }

    &#bookingForm {
      background-color: var(--secondary-bg-color);
      padding: 15px 0;
      justify-items: center;

      .dateField, .peopleField {
        margin: 20px 0;
        background-color: var(--primary-bg-color);
      }
      .dateField, .peopleField, button{
        width: 70%;
        max-width: 250x;
        height: 70px;
        border-radius: 10px;
      }
      h3 {
        font-weight: normal;
        margin-bottom: 5px;
        text-align: left;
      }
      input {
        display: block;
        color: darkgrey;
        height: 20px;
      }
      h3, input {
        margin-left: 15px;
      }
      input, button {
        border: none;
      }
      button {
        font-size: large;
        margin-bottom: 20px;
        color: white;
        background-color: var(--tertiary-bg-color);
        cursor: pointer;

        &:hover {
          background-color: black;
        }
      }
    }
  }

  .intro {
    text-align: center;
    margin-top: 10px;
  }

  .featureImg {
    max-width: 100%;
    height: auto;
    margin: 10px 0;

    border-radius: 4%;
  }

  .dateField, .placeField, .peopleField {
  }
}



/* Large phones */
@media (max-width: 767px) {
}

/* Tablets and up */
@media (min-width: 768px) {
}

/* Desktop and up */
@media (min-width: 1024px) {
}